# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Anis\Videos\SKY-HIGH-SOLUTIONS-Projet-PI-ARCTIC8-ESPRIT-Gestion-StudyGroups\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
